#fieldsetDiv
{
	color: black;
	width: 700px;
	margin: auto;
	background: silver;
	padding: 25px;
	border-radius: 15px;
}

footer
{
	text-align: center;
}

h1
{
	text-align:center;
}

nav 
{
	background:gray;
    width:100%;
    padding: 10px;
}
nav a
{
	color: white;
	background:#c1c1c1;
	text-align:left;
    text-decoration: none !important;
    width:100%;
    padding: 10px;
}
body{
            font-family: Verdana, Arial, Times New Roman;
            background-image: url("http://i.imgur.com/FJU25B3.png");
            margin: 0px;
            
        }
#user-info{
    float: right;
}