
#fieldsetDiv
{
	color: black;
	width: 150px;
	float: left;
	background: silver;
	padding: 25px;
    padding-right: 50px;
	border-radius: 15px;
    text-align: left;
}
#banner{
    width:100%;
    background-color: black;
}
#field{
    padding: 5px;
}
#signup{
    float: left;
    width:25px;
    height:25px;
}

#fieldsetDivAdmin
{
	color: black;
	width: 250px;
	text-align:center;
	background: #ffffff;
	padding: 25px;
	border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}


#familyForm
{
	color: black;
	width: 750px;
	text-align: left;
	background: silver;
    padding: 10px;
	border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

#indexHead{
    float: left;
}

#dmdc{
    float: left;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    
}
#accordian{
    height: 800px; !important
    width: 800px; !important
    float: right; !important
}



h1
{
	text-align:center;
}

h4
{
	text-align:center;
}

nav 
{
	 position: fixed;
      top: 0;
    background: #383838;
    width:100%;
    
}

#accordion.ui-accordion-header {
    background-color: #3f3f3f;
    margin: 0px;
}

#navlinks
{
	border-style: solid;
    border-width: 1px;
    margin: 0px;
    color: #ffffff;
	background: #383838;
    
    border-right-color: #5e5e5e;
    border-bottom: none;
    border-top: none;
    border-left: none;
	text-align:left;
    text-decoration: none !important;
    padding-top:20px;
    
}
#logout
{
	
    margin: 0px;
    color: #ffc300;
	background: #383838;
	text-align:left;
    text-decoration: none !important;
    padding-top:20px;
    float: right;
    vertical-align: middle;
    
}

body{
            font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
            background-image: url("../img/bg.png");
            margin: 0px;
            
        }
#user-info{
    float: right;
}


footer{
    background-color: black;
    text-align:center;
    color: white;
}